<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <header>
        </header>

        <main>
                    <%bookItems.forEach(item => { %>
                        <section>
                            <img src="<%=item.image%>" alt="">
                            <h2><%=item.title%></h2>
                            <h3><%=item.author%></h3>
                            <p><%=item.description%></p>
                        </section>
                    <%})%>            
        </main>

        <footer>
        </footer>
        
    </body>
</html>
