<form id="commentForm" action="/hi">
        <textarea id="commentTextBox" name="" id="" cols="30" rows="10"></textarea>
        <input type="submit" name="_method" value="Add Comment" id="commentBtn">
</form>