<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="The Book Store" content="book_app">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/books.css">
    <title>Book app</title>
</head>
<body>
    <main>
        <div id="form-container">
                <form action="/searches" method="POST">
                    <h2>Search a Book</h2>
                    <div id="search-container">
                        <div id="title">
                            <input type="text" name='title' class="title" placeholder="search by title">
                        </div>
                        <div id="author">
                            <input type="text" name="author" class="author" placeholder="search by author">
                        </div>
                        <div id="btn">
                            <input type="submit" value="find now!" id="searchBtn"> 
                        </div>
                    </div> 
                </form>
            </div>

            <!-- <link rel="stylesheet" href="styles/books.css"> -->


        <!-- show saved books -->
        <div id="books-db-container">
            <h5>My Books Count: <%=savedItems.length%> </h5>
                <%savedItems.forEach((item) => { %>
                    <section>
                        <img src="<%=item.image_url%>" alt="">
                        <div id="titleAuthor">
                            <h2><%=item.title%></h2>
                            <h3>by: <%=item.author%></h3>
                    </section>
                <%});%>
        </div>
        
    </main>
    <footer></footer>
</body>
</html>