<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Darrin and Tanner" content="book_app">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <title>Book app</title>
</head>
<body>
    <header>
        <h1>The Book Store</h1>
    </header>
    <main>
        <form action="">
            <label for="title">Title</label>
            <input type="text" name='title' id="title">

            <label for="author">Author</label>
            <input type="text" name="author" id="author">

            <input type="submit" value="Search" id="searchBtn">  
        </form>
        
        <%- console.log('hi)'%>
        
    </main>
    <footer></footer>
</body>
</html>